<div class ="session-form">
    <h3> Login </h3>


  <div class="form-group" id="login-form">
    <%= simple_form_for(:session, url: login_path) do |f| %>
      <div class="form-group login-form">
        <%= f.email_field :email, class: 'form-control', placeholder: 'email' %>
      </div>

      <div class="form-group login-form">
        <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>
      </div>

      <div class="form-group">
          <%= f.button :submit, "Log In"%>
      </div>

      <% end %>
    </div>


</div>
