
<div class="post-container">
  <% @posts.each do |post| %>
      <% post.users.each do |user|%>
        <ul class="post-content">
          <li class="image"> <%= link_to (image_tag post.image.url(:medium)), post_path(post) %> </li> <br>
          <li> <%= post.caption %> </li>  <br>
          <li> <strong> Release Date: </strong> <%= post.release_date.strftime("%A,%B,%d") %></li> <br/>
          <li> Posted by:  <%= "#{user.name}" %> </li>
        </ul>
      <% end %>
  <% end %>
</div>
