@import "bootstrap";

body {
  background-image: url('jordan-cement.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.page-header {
  background-color:  #373a3c;
  height: 200px;
}

.title {
  font-family: lobster;
  text-align: center;
  padding-top: 20px;
  color: 	#f9a306;
  font-size: 5.0rem
}

a {
  color: white;
}

.post-container {
  background-color: white;
  border: 1px solid black;
  margin: 0 auto;
  width: 75%;
  text-align: center;
  padding: 50px 0;
  border-radius: 10px;
}

.post-content {
  list-style: none;
  font-family: lobster;
  font-size: 1.1rem;
  color: #373a3c;
  padding-left: 0;
}

img {
  border-radius: 10px;
}

.footer {
  text-align: center;
  color: white;
}

.new-post-form {
  text-align: center;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}

.show-post {
  margin: 0 auto;
  width: 75%;
  background-color: white;
  padding: 40px 0px;
}

.show-post-content {
    list-style: none;
    text-align: center;
    font-family: lobster;
    padding-left: 0;
    font-size: 1.1rem;
}

li {
  padding-top: 10px;
  list-style: none;
}

.post-comments {
  text-align: center;
}

.session-form {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  background-color: white;
  padding: 40px 0;
  font-family: lobster;
}

.signup {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  background-color: white;
  padding: 40px 0;
  font-family: lobster;
}

#signup-form {
  width:50%;
  margin: 0 auto;
}

.show-user {
  margin: 0 auto;
  width: 75%;
  background-color: white;
  padding: 40px 0px;
  text-align: center;
  list-style: none;
  font-family: lobster;
  font-size: 1.1rem;
}

.edit-form {
  margin: 0 auto;
  width: 75%;
  background-color: white;
  padding: 40px 0px;
  text-align: center;
  font-family: lobster;
  font-size: 1.1rem;
}

#edit-form-content {
  padding-top: 40px;
}

a:hover {
  color: #f9a306;
  text-decoration: none; 
}
